
@{
    ViewBag.Title = "Productos";
}
<style>
    .small {
        font-size: 0.7rem;
    }

    #btn-guardar-producto {
        position: absolute;
        bottom: 20px;
        right: 5px;
    }
</style>

<section class="row w-100 mx-0 justify-content-center mt-3">
    <article class="col-12 col-lg-6 overflow-hidden py-3">
        <aside class="group-box box-content">

            <label class="label-group-box">Filtro de Búsqueda</label>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Descripción</span>
                </div>
                <input type="text" class="form-control form-control-sm" id="v_Descripcion" aria-describedby="basic-addon3">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="estadoProducto">Estado Producto</label>
                </div>
                <select class="custom-select custom-select-sm" id="estadoProducto">
                    <option value="-1" selected>--Todos--</option>
                    <option value="1">Activo</option>
                    <option value="2">Inactivo</option>
                </select>
            </div>

        </aside>

        <label class="label-little">Se encontraron <span id="total-productos"></span> registros</label>

        @Html.Partial("_BoardProductsPartial")

        <div class="row w-100 mx-0 justify-content-end">
            <button class="btn btn-sm ml-3 btn-info">Generar Matriz</button>
            <button class="btn btn-sm ml-3 btn-success" id="nuevo-producto">Nuevo Producto</button>
            <button class="btn btn-sm ml-3 btn-warning" id="editar-producto">Editar Producto</button>
            <button class="btn btn-sm ml-3 btn-danger" id="eliminar-producto">Eliminar Producto</button>
        </div>


    </article>
    <article class="col-12 col-lg-6" id="cont-details-product">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-datos-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-datos" aria-selected="true">Datos</a>
            </div>
            <div class="tab-content pl-1" id="nav-tabContent" style="border-left: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6">
                <div class="tab-pane fade show active" id="nav-datos" role="tabpanel" aria-labelledby="nav-datos-tab">
                    <div class="row w-100 mx-0">
                        <div class="col-6 px-0 py-3">
                            <div class="form-inline">
                                <div class="form-group row w-100 mx-0 mt-1">
                                    <label for="codigoProduct" class="col-sm-3 p-0 small col-form-label d-flex justify-content-start">Código</label>
                                    <div class="col-sm-9">
                                        <input type="text" disabled class="form-control w-100 form-control-sm" id="codigoProduct">
                                    </div>
                                </div>
                                <div class="form-group row w-100 mx-0 mt-1">
                                    <label for="lineaProduct" class="col-sm-3 p-0 small col-form-label d-flex justify-content-start">Linea</label>
                                    <div class="col-sm-9">
                                        <input type="text" disabled class="form-control w-100 form-control-sm" id="lineaProduct">
                                    </div>
                                </div>
                                <div class="form-group row w-100 mx-0 mt-1">
                                    <label for="marcaProduct" class="col-sm-3 p-0 small col-form-label d-flex justify-content-start">Marca</label>
                                    <div class="col-sm-9">
                                        <input type="text" disabled class="form-control w-100 form-control-sm" id="marcaProduct">
                                    </div>
                                </div>
                                <div class="form-group row w-100 mx-0 mt-1">
                                    <label for="modeloProduct" class="col-sm-3 p-0 small col-form-label d-flex justify-content-start">Modelo</label>
                                    <div class="col-sm-9">
                                        <input type="text" disabled class="form-control w-100 form-control-sm" id="modeloProduct">
                                    </div>
                                </div>
                                <div class="form-group row w-100 mx-0 mt-1">
                                    <label for="empaqueProduct" class="col-sm-3 p-0 small col-form-label d-flex justify-content-start">Empaque</label>
                                    <div class="col-sm-9">
                                        <input type="text" disabled class="form-control w-100 form-control-sm" id="empaqueProduct">
                                    </div>
                                </div>
                                <div class="form-group row w-100 mx-0 mt-1">
                                    <label for="undMedidaProduct" class="col-sm-3 p-0 small col-form-label d-flex justify-content-start">Und. Medida</label>
                                    <div class="col-sm-9">
                                        <input type="text" disabled class="form-control w-100 form-control-sm" id="undMedidaProduct">
                                    </div>
                                </div>
                                <div class="form-group row w-100 mx-0 mt-1">
                                    <label for="pesoProduct" class="col-sm-3 p-0 small col-form-label d-flex justify-content-start">Peso Kg.</label>
                                    <div class="col-sm-9">
                                        <input type="text" disabled class="form-control w-100 form-control-sm" id="pesoProduct">
                                    </div>
                                </div>
                                <div class="form-group row w-100 mx-0 mt-1">
                                    <label for="descripcionProduct" class="col-sm-3 p-0 small col-form-label d-flex justify-content-start">Descripción</label>
                                    <div class="col-sm-9">
                                        <input type="text" disabled class="form-control w-100 form-control-sm" id="descripcionProduct">
                                    </div>
                                </div>
                                <div class="form-group row w-100 mx-0 mt-1">
                                    <label for="tipoProduct" class="col-sm-3 p-0 small col-form-label d-flex justify-content-start">Tipo Producto</label>
                                    <div class="col-sm-9 w-100" id="tipoProduct">
                                        <select disabled class="custom-select custom-select-sm">
                                            <option selected value="-1">--Seleccionar--</option>
                                            <option value="1">Mercaderia</option>
                                            <option value="2">Otros</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <button disabled class="btn btn-sm btn-primary" id="btn-guardar-producto">Guardar Producto</button>
                        </div>
                        <div class="col-6 py-3 px-0">
                            <div class="group-box">

                                <figure class="img-thumbnail justify-content-center row mx-0">
                                    <img alt="Imagen Referencial" title="Imagen Referencial" style="max-height:200px" src="https://http2.mlstatic.com/hidden-springs-organic-jarabe-de-arce-de-vermont-oscuro-D_NQ_NP_622514-MPE29698985767_032019-Q.jpg" class="img-fluid" />

                                    <div class="col-12 d-flex justify-content-center">
                                        <button disabled class="btn btn-sm btn-outline-success d-flex text-center d-flex align-content-center p-1"><i class="fas fa-plus-circle"></i></button>
                                        <button disabled class="btn btn-sm btn-outline-danger d-flex text-center d-flex align-items-center p-1"><i class="fas fa-minus-circle"></i></button>
                                    </div>
                                </figure>
                                <div class="form-group row w-100 mx-0">
                                    <label for="stockminProduct" class="col-sm-3 p-0 small col-form-label d-flex justify-content-start">Stock Minimo:</label>
                                    <div class="col-sm-9">
                                        <input type="text" disabled class="form-control w-100 form-control-sm" id="stockminProduct">
                                    </div>
                                </div>
                                <div class="form-group row w-100 mx-0">
                                    <label for="cantMensualProduct" class="col-sm-3 p-0 small col-form-label d-flex justify-content-start">Cant. Fabr. Mensual:</label>
                                    <div class="col-sm-9">
                                        <input type="text" disabled class="form-control w-100 form-control-sm" id="cantMensualProduct">
                                    </div>
                                </div>
                                <div class="form-group row w-100 mx-0">
                                    <label for="precVentaProduct" class="col-sm-3 p-0 small col-form-label d-flex justify-content-start">Precio Venta S/:</label>
                                    <div class="col-sm-9">
                                        <input type="text" disabled class="form-control w-100 form-control-sm" id="precVentaProduct">
                                    </div>
                                </div>
                                <div class="form-group row w-100 mx-0">
                                    <label for="precCostoProduct" class="col-sm-3 p-0 small col-form-label d-flex justify-content-start">Precio Costo S/:</label>
                                    <div class="col-sm-9">
                                        <input type="text" disabled class="form-control w-100 form-control-sm" id="precCostoProduct">
                                    </div>
                                </div>
                                <div class="form-group row w-100 mx-0">
                                    <label for="utilsListPrecio" class="col-sm-3 p-0 small col-form-label d-flex justify-content-start">Utilidad-ListaPrecios S/:</label>
                                    <div class="col-sm-9">
                                        <input type="text" disabled class="form-control w-100 form-control-sm" id="utilsListPrecio">
                                    </div>
                                </div>
                                <div class="form-group row w-100 mx-0">
                                    <label for="precPubSugerido" class="col-sm-3 p-0 small col-form-label d-flex justify-content-start">Precio Pub. Sug. S/:</label>
                                    <div class="col-sm-9">
                                        <input type="text" disabled class="form-control w-100 form-control-sm" id="precPubSugerido">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </article>
</section>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<link href="~/Content/css/Alert.css" rel="stylesheet" />
<script src="~/Scripts/Alert.js"></script>
<script>
    $(document).ready(function () {
        $("#nuevo-producto").on("click", function () {
            Deshabilitar(false);
        })
        $("#btn-guardar-producto").on("click", function () {
            Deshabilitar(true);
        })

        $("#editar-producto").on("click", function () {
            Deshabilitar(false);
        })

        $("#eliminar-producto").on("click", function () {
            let chk = $(".checkbox-product:checked");

            if (chk.length == 0) {
                alertafixed({
                    title: "VALIDACIÓN",
                    class: "validado",
                    type: "info",
                    message: "Seleccione al menos un producto.",
                })

                return;
            }

            notificacion({
                classTitleAndButtons: "warningTitleAndButtons",
                classMessage: "warningMessage",
                title: "¡ Confirmación !",
                icono: "",
                contenido: "¿ Desea eliminar el producto ?",
                btnAceptar: "Aceptar",
                btnCancelar: "Cancelar",
                btnOk: "OK",
                mostrarBtnAceptarAndCancelar: "",
                mostrarBtnOk: "no",
            });

            $(".bigBox-Aceptar").on("click", function () {
                $(".bigBox-Cancelar").click();
                let row = chk.parent().parent().parent();

                row.remove();
                alertafixed({
                    title: "HECHO",
                    class: "eliminado",
                    type: "success",
                    message: "El producto se eliminó correctamente.",
                })
            })
        })
    })

    const checkedCheckBox = function (chk) {
        $(chk).parent().find("input").click();
    }

    const PintarFila = function (fila) {
        if ($(".row-active").length > 0) {
            $(".row-active").removeClass("row-active");
        }
        $(fila).addClass("row-active");
    }

    const Deshabilitar = function (type) {
        $("#cont-details-product").find("input").prop("disabled", type);
        $("#cont-details-product").find("button").prop("disabled", type);
        $("#cont-details-product").find("select").prop("disabled", type);
    }
</script>

