
<div class="container-fluid" style="padding:0px;">
    <div class="box box-info mt-2 mb-0" id="acordion">
        <div class="box-header with-border" id="heading1">
            <h3 class="box-title" style="cursor:pointer;"><i class="icon-list-numbered"></i>Lista de Pacientes Llamando</h3>
        </div>
    </div>
</div>
<input id="heightBoardProd" type="hidden" value="">
<div id="contBoardCallingPacient" class="overflow-hidden p-1" style="width:100% !important; box-shadow: -5px 5px 8px #bebcbc; border-radius:0.3rem">
    <div class="box box-info mt-2 mb-0">
        <div class="scroll-css" style="overflow:scroll; height: 200px;">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th nowrap scope="col">ServiceId</th>
                        <th nowrap scope="col" class="d-none">PersonId</th>
                        <th nowrap scope="col">Paciente</th>
                    </tr>
                </thead>
                <tbody id="body-calling-paciente">

                </tbody>
            </table>
        </div>
        
    </div>
</div>
<script>

</script>





